.title {
  color: white;
  margin: 0.5rem 0;
  padding-bottom: 0.8rem;
  border-bottom: 5px solid #bebebe;
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.empty-text {
  color: #fff;
  text-align: center;
}

.empty-text h2 {
  color: #6dd34d;
}

.orange-text {
  color: #3f69db;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin: 1rem 0;
  color: #fff;
  padding-bottom: 1rem;
  border-bottom: 5px solid #bebebe;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .button-alt {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
}

.actions .button {
  padding: 0.5rem 2rem;
  background-color: #6dd34d;
  border: 1px solid #6dd34d;
  font-weight: 500;
  box-shadow: 0 2px 8px #0000008c;
}

.actions .button:hover {
  box-shadow: 0 2px 8px #6cd34d;
}
.actions .button:active {
  background-color: #68b151;
}

.req-text {
  text-align: center;
}

.req-text h2 {
  font-size: 1.5rem;
}

.req-text .req-text-loading {
  color: #fff;
}

.req-text .req-text-success {
  color: #6dd34d;
}

.req-text .req-text-failure {
  color: #ca3e51;
}

.req-text .req-text-retry {
  color: #ccc;
}

@media screen and (max-width: 503px) {
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .actions .button-alt {
    margin: 0;
    padding: 0.2rem 0.8rem;
    margin-bottom: 0.5rem;
  }

  .actions .button {
    margin: 0;
    padding: 0.2rem 1.5rem;
  }

  .req-text h2 {
    font-size: 1rem;
  }
}
