.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #6dd34d;
  border: 1px solid #6dd34d;
  color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: 700;
}

.form button:hover,
.form button:active {
  background-color: #fff;
  border-color: #fff;
  color: #6dd34d;
}

@media screen and (max-width: 430px) {
  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  .form button {
    padding: 0.2rem 1rem;
    margin-left: 0.65rem;
    font-size: 0.85rem;
  }
}
