@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #151515;
}

/* Color Pallete */
/* https://colorswall.com/palette/124391 */
/* (for the most part) */
